server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**, /users/**
        - id: project-service
          uri: lb://project-service
          predicates:
            - Path=/api/projetos/**
        - id: group-service
          uri: lb://group-service
          predicates:
            - Path=/groups/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost
    ip-address: 127.0.0.1

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG
    org.springframework.cloud.gateway.handler.predicate: TRACE
    reactor.netty: DEBUG
    org.springframework.web: DEBUG
    org.springframework.boot.web: DEBUG